body {
  /* background-color: rgb(0, 0, 0) !important; */
  margin: 0;
  /* color: #fff; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* You can adjust the z-index as needed */
  /* background-color: #fff; Add your desired background color */
  /* Add any other styling you want for the title bar */
}
/* .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #fff;
} */

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.title-bar {
  height: 50px;
  width: 100%;
  /* background-color: rgb(140, 140, 140); */
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-bar .document-name,
.title-bar .menu-section {
  margin-right: 10px;
}

.menu-section button {
  border: none;
  outline: none;
}

main {
  flex: 1;
  padding: 10px;
}

main textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  /* Add any other styling you want for the title bar */
}

.beans {
  margin-top: 1000;
}

.editor-container {
  max-width: 800px; /* Set a maximum width for the editor container */
  margin: 20px auto; /* Center the container with top and bottom margin */
  margin-top: 120px;
  padding: 20px; /* Add padding to the container */
  /* background-color: #fff; Set a white background color for the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  border-radius: 5px; /* Add rounded corners to the container */
}

.barrr { 
  margin: 20px auto;
  padding: 20px; /* Add padding to the container */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px; 
  margin: 20px auto;
}

.navbar2 {
  margin-top: 50px !important;
  justify-content: center !important; 
  align-items: center !important;
}
.nav {
  justify-content: center !important; 
  align-items: center !important;
}
.padded-margins {
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; */
  padding: 5px;
}

#toolbar {
  display: flex;
  justify-content: center !important; 
  align-items: center !important;
  width: 100%;
}
.toolbar {
  display: flex;
  justify-content: center !important; 
  align-items: center !important;
  width: 100%;
}
.ql-toolbar.ql-snow {
  max-width: 100%; /* Use max-width instead of width to allow the toolbar to shrink if needed */
  margin: auto; /* Center the toolbar */
  display: flex;
  justify-content: center !important; 
  align-items: center !important;
  width: 100%;
}

